body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
#map {
  width: 100vw;
  height: 100vh;
  
}

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 200px;
  top: 0;
  background-color: red;
  left: 0;
  padding: 10px;
  }

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  margin-left: 20px;
  width: 160px;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 10px Arial, sans-serif;
}

.marker-label {
  font-family: "Inder", sans-serif;
  line-height: 28px;
  margin-bottom: 15px;
  color: #666;
}

.region-label{
  color: rgb(180, 180, 180);
  font-family: Arial, Helvetica, sans-serif;
}
